<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="workout">
    <insert id="insert" parameterType="workout">
        <![CDATA[
          INSERT INTO excercise(id, name, muscle, unit)
          VALUES (#{id}, #{name}, #{muscle}, #{unit})
        ]]>
    </insert>

    <select id="get" resultType="workout">
        <![CDATA[
          SELECT * FROM workout WHERE id = #{id}
        ]]>
    </select>

    <delete id="delete">
        <![CDATA[
          DELETE FROM workout WHERE id = #{id}
        ]]>
    </delete>
</mapper>